/* ============= Universal Styles ============ */

/* ========== HTML Styles ========== */
* {
  box-sizing: border-box;
  outline: none;
  border: none;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* ========== Body Styles ========== */
body {
  background: #0f0f0f;
  color: white;
  width: 100%;
}

/* ========= Media Queries ========= */
/* ------- Tablet -------- */
@media only screen and (min-width: 768px) {
}

/* ------- Laptop -------- */
@media only screen and (min-width: 1024px) {
}

/* ------- Desktop ------- */
@media only screen and (min-width: 1440px) {
}

/* ----- 4k Ultra HD ----- */
@media only screen and (min-width: 2560px) {
}
