/* ========== Font Styles ========== */
/* ------- Headers ------- */
h1 {
  font-family: "Metal Mania", Impact, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  margin-left: 0.5rem;
}

h2 {
  font-family: "Montserrat", Verdana, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  text-align: center;
  color: greenyellow;
  margin: 1rem;
}

h3 {
  font-family: "Oswald", Verdana, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  text-align: center;
  margin: 1rem;
}

/* ------ Paragraphs ----- */
p {
  text-align: justify;
  margin: 1rem;
}

/* Small */
small {
  text-align: center;
  margin: 1rem;
}

/* ---- Strong / Bold ---- */
b {
  color: greenyellow;
}

/* =========== Hyperlinks ========== */
/* --- Anchors / Lists --- */
a,
li {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: white;
}

a:hover,
li:hover {
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.95);
}

a:active,
li:active {
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.95);
}

/* Unordered Lists */
ul {
  list-style: none;
}

/* ========= Media Queries ========= */
/* ------- Tablet ------- */
@media only screen and (min-width: 768px) {
  /* Headers */
  h2 {
    font-size: 2.25rem;
  }
}

/* ------- Laptop ------- */
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 4rem;
  }
}

/* ------- Desktop ------- */
@media only screen and (min-width: 1440px) {
}
