/* ============== Header Styles ============== */
header {
  position: relative;
  background-color: black;
  background-image: url("/assets/images/banners/green-tree-snake.jpg");
  height: 40rem;
}

#slogan {
  position: absolute;
  right: 0;
  max-width: 15rem;
}

/* ========= Media Queries ========= */
/* ------- Tablet ------- */
@media only screen and (min-width: 768px) {
  #slogan {
    max-width: 20rem;
  }
}

/* ------- Laptop ------- */
@media only screen and (min-width: 1024px) {
  header {
    height: 45rem;
  }

  #slogan {
    max-width: 25rem;
    margin-right: 2rem;
  }
}

/* ------- Desktop ------- */
@media only screen and (min-width: 1440px) {


  #slogan {
    max-width: 30rem;
  }
}

/* ----- 4k Ultra HD ----- */
@media only screen and (min-width: 2560px) {
  header {
    height: 70rem;
  }

  #slogan {
    max-width: 45rem;
    margin-right: 10rem;
  }
}
