/* ============== Navbar Styles ============== */
/* --------- Navigation Bar -------- */
#navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: black;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  transition: top 0.2s;
}

/* Top Of Page */
#home {
  background-color: black;
  height: 4rem;
}

/* --------- Logo -------- */
.nav-logo-cont {
  display: flex;
  align-items: center;
  max-width: 14rem;
  margin-left: 0.25rem;
}

/* ---- Hamburger Icon --- */
#hamburger-icon,
#close-icon {
  z-index: 10;
  background-color: greenyellow;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}

/* Show Hamburger */
#hamburger-icon {
  display: block;
}

/* Hide Close */
#close-icon {
  display: none;
}

#hamburger-icon:hover,
#close-icon:hover {
  background-color: white;
  filter: invert();
  transform: scale(1.1);
}

#hamburger-icon:active,
#close-icon:active {
  -webkit-tap-highlight-color: transparent;
  transform: scale(1);
}

/* ---- Dropdown Menu ---- */
#dropdown-nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.9rem;
  background-color: black;
  width: 100%;
}

#dropdown-nav a,
#dropdown-nav li {
  width: 100%;
  text-align: center;
}

#dropdown-nav a:hover,
#dropdown-nav li:hover {
  background-color: greenyellow;
  color: black;
  font-weight: 700;
  transform: scale(1.05);
}

/* Nav Links */
.nav-link {
  font-size: 1.25rem;
  padding: 1rem;
  width: 100%;
}

.navlink:hover {
  background-color: greenyellow;
  transform: scale(0.95);
}

/* ========= Media Queries ========= */
/* ------- Tablet -------- */
@media only screen and (min-width: 768px) {
  .nav-logo-cont {
    max-width: none;
  }
}

/* ------- Laptop -------- */
@media only screen and (min-width: 1024px) {
}

/* ------- Desktop ------- */
@media only screen and (min-width: 1440px) {
}

/* ----- 4k Ultra HD ----- */
@media only screen and (min-width: 2560px) {
}
