/* ========== Index Styles ========= */
@import "./global.css";

/* -------- Header ------- */
header {
  background-image: url("/assets/images/banners/green-snake.jpg");
  background-position: -2rem;
  box-shadow: inset 0px 0px 40px 40px black;
}

/* --------- Main -------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Welcome */
#welcome {
  height: auto;
}

/* ========= Media Queries ========= */

/* ------- Tablet -------- */
@media only screen and (min-width: 768px) {
}

/* ------- Laptop -------- */
@media only screen and (min-width: 1024px) {
}

/* ------- Desktop ------- */
@media only screen and (min-width: 1440px) {
}
