/* ============= Universal Styles ============ */
* {
    box-sizing: border-box;
    outline: none;
    border: none;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 16px;   
}

body {
    background: rgb(50, 50, 50);
    color: white;
    width: 100%;
}

/* ---------- Font Styles ---------- */
h1 {
    font-family: 'Metal Mania', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    margin-left: 0.5rem;
}

/* Anchors */
a, li {
    text-decoration: none;
    color: white;
}

a:hover, li:hover {
    color: greenyellow;
}

a:active, li:active {
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.95);
}

/* Bold */
b {
    color: greenyellow;
}

/* ============== Content Styles ============= */
/* -------- Navigation Menu -------- */
nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
}

/* Logo */

.nav-logo {
    display: flex;
    align-items: center;

}

.logo {

    background-color: black;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem ;
}

.logo:hover {
    transform: scale(0.95);
}

/* Hamburger Icon */
#hamburger-icon, #close-icon {
    z-index: 10;
    background-color: greenyellow;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
}

#hamburger-icon {
    display: block;
}

#close-icon {
    display: none;
}

#hamburger-icon:hover, #close-icon:hover {
    background-color: white;
    filter: invert();
    transform: scale(1.1);
}

#hamburger-icon:active, #close-icon:active {
    transform: scale(1);
}


/* Nav Links */
#dropdown-nav {
    display: none;
    position: absolute;
    top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    list-style: none;
    width: 100%;
}

.nav-link {
    font-size: 1.25rem;
    padding: 1rem;
}




/* -------- Footer ------- */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: greenyellow;
    height: 4.5rem;
    width: 100%;
}

