/* ============== Welcome Styles ============= */
#welcome-text {
  padding-top: 0;
  margin-top: -1rem;
}

#dont-shop-adopt {
  width: 17rem;
}

/* ========= Media Queries ========= */
/* ------- Tablet -------- */
@media only screen and (min-width: 768px) {
  #welcome-image {
    padding-right: 0;
    width: 35%;
  }

  #welcome-text {
    padding-top: 0.5rem;
    padding-left: 0;
    padding-right: 1.5rem;
    margin-top: 0rem;
    width: 65%;
  }

  #dont-shop-adopt {
    width: 15rem;
  }
}

/* ------- Laptop -------- */
@media only screen and (min-width: 1024px) {
  #welcome-text {
    padding-top: 0;
    padding-right: 3rem;
  }

  #dont-shop-adopt {
    width: 20rem;
  }
}

/* ------- Desktop ------- */
@media only screen and (min-width: 1440px) {
  #welcome-text {
    padding-right: 6rem;
  }
}

/* ----- 4k Ultra HD ----- */
@media only screen and (min-width: 2560px) {
  #welcome-image {
    padding-right: 0;
    width: 20%;
  }

  #welcome-text {
    padding-top: 0.5rem;
    padding-left: 0;
    padding-right: 1.5rem;
    margin-top: 0rem;
    width: 80%;
  }

  #welcome-text p {
    text-align: center;
  }
}
