/* ============== Header Styles ============== */
header {
  background-image: url("/assets/images/banners/iguana.jpg");
  height: 15rem;
}

/* ========= Media Queries ========= */
/* ------- Tablet ------- */
@media only screen and (min-width: 768px) {
  header {
    height: 30rem;
  }
}

/* ------- Laptop ------- */
@media only screen and (min-width: 1024px) {
  header {
    height: 46rem;
  }
}

/* ------- Desktop ------- */
@media only screen and (min-width: 1440px) {
  header {
    height: 46rem;
  }
}
